@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EcommerceStoreMVC.Models.DTO.LoginDto

@{
    ViewData["Title"] = "Login";
}

<div class="container m-5 ">
    <div class="row ">
        <div class="col-md-6 mx-auto border">
            <h2 class="text-center">Login</h2>
            <hr />
           @*  <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@

           @if(ViewBag.ErrorMessages != null)
           {
                <div class="alert alert-danger alert-dismissible fade show shadow" role="alert">
                     @ViewBag.ErrorMessages
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
           }


            <form method="post">
                <div class="row mb-3">
                    <label class="col col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col col-form-label">Remember Me</label>
                    <div class="col-sm-8">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
                        
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-sm-4 offset-sm-4  d-grid ">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="col-sm-4   d-grid ">
                        <a class="btn btn-outline-primary " asp-controller="Home" asp-action="Index" role="button">Cancel</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <a class="col col-form-label" asp-controller="Account" asp-action="ForgotPassword" role="link">Forgot password</a>

                </div>
            </form>
            
        </div>
    </div>
