@model EcommerceStoreMVC.Models.DTO.PasswordDto;
<div class="container m-5 ">
    <div class="row">
        <div class="col-md-6 mx-auto border">
            
            <h2 class="text-center">Update Password</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="row mt-3 mb-3">
                    <div class="mx-auto ">

                        <div class="alert alert-success alert-dismissible fade show shadow" role="alert">
                            @ViewBag.SuccessMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            }
            <form method="post">
                <div class="row mb-3">
                    <label class="col col-form-label">Current Password</label>
                    <div class="col-sm-8">
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col col-form-label">New Password</label>
                    <div class="col-sm-8">
                        <input asp-for="NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col col-form-label">Confirm Password</label>
                    <div class="col-sm-8">
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    @if (ViewBag.SuccessMessage == null)
                    {
                        <div class="col-sm-4 offset-sm-4  d-grid ">
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </div>
                        <div class="col-sm-4   d-grid ">
                            <a class="btn btn-outline-primary " asp-controller="Account" asp-action="Profile" role="button">Cancel</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12   d-grid ">
                            <a class="btn btn-outline-primary " asp-controller="Account" asp-action="Profile" role="button">Close</a>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
  
</div>
