@using EcommerceStoreMVC.Models.DTO
@* @model EcommerceStoreMVC.Models.DTO.ProductDto
@{
    ViewData["Title"] = "Create";
}

<div class="row ">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Product</h2>

        <form  asp-controller="Products" method="post" enctype="multipart/form-data">
            <div class="row   mb-3 form-group ">
                <label class="col-sm-3 col-form-label" asp-for="ProductName">Name</label>
                <div class="col-sm-9">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
           
            <div class="  row mb-3 form-group ">
                <label class="col-sm-3 col-form-label" asp-for="Brand"></label>
                <div class="col-sm-9">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label class="col-sm-3 col-form-label" asp-for="Category"></label>
                <div class="col-sm-9">
                <select asp-for="Category" class="form-select">
                    <option value="Other">Other</option>
                    <option value="Phones">Phones</option>
                    <option value="Computers">Computers</option>
                    <option value="Printers">Printers</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Cameras">Cameras</option>

                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="ProductPrice">
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control" asp-for="ProductDescription"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="ProductImageFile">
                    <span asp-validation-for="ProductImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-3 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="offset-1 col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>

            
        
        </form>

    </div>
</div>
 *@


@model ProductDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Product</h2>


        <form method="post" enctype="multipart/form-data">

           
   


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductName">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Brand</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Brand">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Category">
                        <option value='Other'>Other</option>
                        <option value='Phones'>Phones</option>
                        <option value='Computers'>Computers</option>
                        <option value='Accessories'>Accessories</option>
                        <option value='Printers'>Printers</option>
                        <option value='Cameras'>Cameras</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductPrice">
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="ProductDescription"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductImageFile">
                    <span asp-validation-for="ProductImageFile" class="text-danger"></span>
                </div>
            </div>

            

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>